/**
 * @Author: Edmond Ceausu <eddieceausu>
 * @Date:   2018-12-25T18:39:39-05:00
 * @Email:  eddieswim101@gmail.com
 * @Filename: main.css
 * @Last modified by:   eddieceausu
 * @Last modified time: 2018-12-25T18:44:53-05:00
 * @Copyright: © Edmond Ceausu 2018
 */
.button {
  width: 70px;
  height: 50px;
}
 #placeHolder {
   width: auto;
   height: auto;
 }
